@model B6C2.centerEmployee

@{
    ViewBag.Title = "SendEmail";
}

<h2>Send email to the nearest donors</h2>

@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()

    <div class="form-horizontal">

        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="Send" class="btn btn-danger" />
            </div>
        </div>
    </div>
}

<div class="form-group">
    <div class="col-md-offset-2 col-md-10 text-success">
        @ViewBag.Status
    </div>
</div>
